* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "TwCenW01-Medium";
  src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot");
  src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.svg#TwCenW01-Medium")
      format("svg");
}

//Variables
$grey: #f1f1f1;
$text: black;

//Basic styles
html {
  background: $grey;
  font-size: 10px;
  font-family: "TwCenW01-Medium";
}

.container {
  width: 95vw;
  margin: auto;
}

.container--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--main {
  width: 90vw;
  margin: auto;
}

// .container--social {
//   position: relative;
//   left: 5vh;
//   height: 95vh;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

//Navbar
.navbar {
  height: 7rem;
  width: 100%;
  background: $grey;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.2;
  transition: all 0.4s ease;
  font-family: "GermanoRegular";
  font-weight: normal;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  .navbar-logo {
    display: inline-block;
  }
}

.navbar__links {
  margin: 2rem;

  display: flex;
  font-size: 1.8rem;
  .navbar__link {
    margin-left: 4rem;
  }
}

.navbar--social {
  float: left;
  font-size: 1.8rem;
  .social__links {
    transform: rotate(-90deg);
    margin-bottom: 3rem;
  }
}

//shrink navbar on scroll
.navbar--shrink {
  font-size: 1.2rem;
  height: 8rem;
}

//Header
.header {
  margin-bottom: 15vh;
  .header__img {
    height: 90vh;
    object-fit: contain;
    min-width: 50rem;
    display: block;
    margin: auto;
    .header__img:hover {
      opacity: 100;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
  height: 5rem;
  font-size: 1.8rem;

  .button {
    display: inline-block;
    margin: 2rem;
    font-family: "TwCenW01-Medium";
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 1;
  }
  .flaticon-016-add:before {
    content: "\f10f";
  }
  .button:hover {
    border-bottom: 1px solid black;
  }
  .buttons__view:hover,
  .button__add:hover {
    border-bottom: none;
  }
}

//Clicked button
.active-button {
  border-bottom: 1px solid black;
  &:first-child,
  &:last-child {
    border-bottom: none;
  }
}

.form-state--closed {
  visibility: hidden;
  height: 0;
  width: 0;
  .form__label,
  .radio-buttons,
  .form-btn__submit {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
  .form__input {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
.form-state--open {
  visibility: visible;
  // background: $grey;
  background: darken($color: $grey, $amount: 5%);
  z-index: 1000;
  font-size: 1.8rem;
  position: fixed;
  top: 20vh;
  bottom: 20vh;
  left: 30vw;
  right: 30vw;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-btn__submit {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 2.5rem;
  margin: 1.5rem;
  font-size: 1.3rem;
  background: darken($color: $grey, $amount: 10%);
}
#close {
  background: darken($color: $grey, $amount: 5%);
}
.form-btn__close::before {
  content: "\f100";
  display: block;
  position: relative;
  left: 20rem;
  bottom: 38rem;
}

//Gallery
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //fixes the last row formating
  &::after {
    content: "";
    width: 50rem;
  }
}

.gallery-img--container {
  width: 50rem;
}
.gallery-img {
  width: 100%;
  height: 30rem;
  display: block;
  opacity: 1;
  object-fit: cover;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

.gallery-dropdown-icon {
  position: relative;
  top: -40px;
  right: 20px;
  float: right;
}

.gallery-dropdown-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f141";
  font-size: 2.5rem;
  color: black;
  opacity: 0;
}
.gallery-img:hover ~ .gallery-dropdown-icon::before {
  opacity: 1;
}

//Switching lists on click
.gallery figure.visited,
.gallery figure.bucketlist {
  display: block;
}

.gallery.visited figure.visited {
  display: block;
}

.gallery.visited figure.bucketlist {
  display: none;
}

.gallery.bucketlist figure.bucketlist {
  display: block;
}

.gallery.bucketlist figure.visited {
  display: none;
}

//img captions
.caption {
  line-height: 1.5;
  margin: 1rem 0;
  display: flex;
  .caption-text {
    margin-left: 5px;
  }
  // .caption__city {
  //   font-weight: 300;
  //   font-size: 2rem;
  //   text-transform: capitalize;
  //   letter-spacing: 1px;
  // }
  .caption__country {
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.gallery-checkbox {
  position: relative;
  top: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  border: 1px solid rgb(163, 161, 161);
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: -3px;
    left: 2px;
    width: 7px;
    height: 13px;
    border-style: solid;
    border-color: black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    background: $grey;
    border: $grey;
    &::before {
      opacity: 1;
    }
  }
}
//cross out visited city
.gallery.visited figure.visited .caption__city,
.gallery figure.visited .caption__city {
  text-decoration: line-through;
  text-decoration-thickness: 0.7px;
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.caption__city {
  font-weight: 300;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gallery
  .bucketlist
  .caption
  .gallery-checkbox:checked
  > .caption-text
  > .caption__city {
  &::before {
    position: absolute;
    content: attr(data-content);
    color: lightgray;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
  }
}
