* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "TwCenW01-Medium";
  src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot");
  src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.ttf")
      format("truetype");
}

@font-face {
  font-family: "bimboballpoint";
  src: url(../fonts/bimbo-ballpoint.ttf) format("truetype");
}

//Variables
$grey: #b9b8ae;
$text: black;

//Basic styles
html {
  font-size: 10px;
  font-family: "TwCenW01-Medium";
  color: $text;
}

.container {
  width: 80vw;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

//Navbar
.navbar {
  width: 50.03vw;
  font-size: 2.1rem;
  letter-spacing: 2px;
  line-height: 1.2;
  transition: all 0.4s ease;
  font-family: "IBM Plex Serif";
  font-style: normal;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  .navbar__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 7rem;
    background: $grey;
  }
  &__list {
    margin: 0 2rem;
    &:nth-of-type(1) {
      font-style: italic;
    }
  }
}

//shrink navbar on scroll
.navbar--shrink {
  font-size: 1.2rem;
  height: 8rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 5rem;
  font-size: 1.8rem;
  padding: 5rem;

  .button {
    background: white;
    display: inline-block;
    font-family: "TwCenW01-Medium";
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 1;
    margin: 0 1rem;
  }
  .flaticon-016-add:before {
    content: "\f10f";
  }
  .button:hover {
    border-bottom: 1px solid black;
  }
  .buttons__view:hover,
  .button__add:hover {
    border-bottom: none;
  }
}

//Clicked button
.active-button {
  border-bottom: 1px solid black;
  &:first-child,
  &:last-child {
    border-bottom: none;
  }
}

.form-state--closed {
  visibility: hidden;
  height: 0;
  width: 0;
  .form__label,
  .radio-buttons,
  .form-btn__submit {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
  .form__input {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
.form-state--open {
  visibility: visible;
  // background: $grey;
  background: darken($color: $grey, $amount: 5%);
  z-index: 1000;
  font-size: 1.8rem;
  position: fixed;
  top: 20vh;
  bottom: 20vh;
  left: 30vw;
  right: 30vw;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-btn__submit {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 2.5rem;
  margin: 1.5rem;
  font-size: 1.3rem;
  background: darken($color: $grey, $amount: 10%);
}
.form-btn__close {
  background: darken($color: $grey, $amount: 5%);
}
.form-btn__close::before {
  content: "\f100";
  display: block;
  position: relative;
  left: 20rem;
  bottom: 38rem;
}

// Gallery
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //fixes the last row formating
  &::after {
    content: "";
    width: 50rem;
  }
}

.gallery-img--container {
  width: 50rem;
  // position: relative;
}
.gallery-img {
  width: 100%;
  // position: absolute;
  // height: 30rem;
  display: block;
  opacity: 1;
  object-fit: cover;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

.gallery-dropdown-icon {
  position: relative;
  top: -40px;
  right: 20px;
  float: right;
}

.gallery-dropdown-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f141";
  font-size: 2.5rem;
  color: black;
  opacity: 0;
}
.gallery-img:hover ~ .gallery-dropdown-icon::before {
  opacity: 1;
}

//Switching lists on click
.gallery figure.home,
.gallery figure.places {
  display: block;
}

.gallery.home figure.home {
  display: block;
}

.gallery.home figure.places {
  display: none;
}

.gallery.places figure.places {
  display: block;
}

.gallery.places figure.home {
  display: none;
}

//img captions
.caption {
  line-height: 1.5;
  margin: 1rem 0;
  display: flex;
  .caption-text {
    margin-left: 5px;
  }
  // .caption__city {
  //   font-weight: 300;
  //   font-size: 2rem;
  //   text-transform: capitalize;
  //   letter-spacing: 1px;
  // }
  .caption__country {
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.gallery-checkbox {
  position: relative;
  top: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  border: 1px solid rgb(163, 161, 161);
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: -3px;
    left: 2px;
    width: 7px;
    height: 13px;
    border-style: solid;
    border-color: black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    border: $grey;
    &::before {
      opacity: 1;
    }
  }
}
// //cross out visited city
// .gallery.visited figure.visited .caption__city,
// .gallery figure.visited .caption__city {
//   text-decoration: line-through;
//   text-decoration-thickness: 0.7px;
//   transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
// }

.caption__city {
  font-weight: 300;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.next-slide {
  transform: translateX(-50vw);
  transition: all 0.7s ease;
}
// .gallery
//   .bucketlist
//   .caption
//   .gallery-checkbox:checked
//   > .caption-text
//   > .caption__city {
//   &::before {
//     position: absolute;
//     content: attr(data-content);
//     color: lightgray;
//     text-decoration: line-through;
//     text-decoration-thickness: 3px;
//     text-decoration-color: black;
//   }
// }

//Header
.header {
  background: $grey;
  display: flex;
}

.heading {
  opacity: 0;
  animation: fadeUp 5s forwards;
  z-index: 2;
  display: flex;
  // flex-wrap: wrap;
  margin: auto;
  height: 70vh;
  width: 40vw;
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  &__subtitle {
    animation: fadeUp 2s forwards;
    font-size: 2rem;
    font-style: italic;
  }
  &__title {
    font-size: 3.8rem;
  }
  &__name {
    font-style: italic;
    font-size: 3.5rem;
  }
}

.scroll__label {
  font-size: 2rem;
  padding: 2rem 0;
}
.scroll__btn {
  background: $grey;

  .scroll__icon {
    animation: pulse 2s infinite;
  }
}

//Slideshow
.container--slideshow {
  width: 50vw;
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 5;
}
.slides {
  display: flex;
  height: 100%;
  width: 100%;
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-controls {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  height: 100%;
  width: 50%;
}

//animations
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(1rem);
  }
  100% {
    // opacity: 1;
    transform: translateY(0);
  }
  0% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
